/* Apple Core: #DCC7AA */
/* Blueberry: #6B7A8F */
/* Citrus: #F7C331 */
/* Apricot: #F7882F */
/* Rusty: #DD7E00 */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap");

.project-title {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    background: #F7C331;
    color: #DD7E00;
    -webkit-text-stroke: 1px #6B7A8F;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 50px;
    right: 20px;
}

.spotlight-project, .other-projects {
    background: #DCC7AA;
    text-align: center;
    padding-top: 10px;
}

.project-header {
    background: #DD7E00;
    text-align: left;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-bottom: -5px;
}

.other-projects h3 {
    width: 120px;
}

.spotlight-project a, .description, .note, .skill-list, .skill-list li, .project-two, .project-three, .other-projects a, .spotlight-header, .collapsible-div {
background: none;
}

.description, .note {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.portfolio-icon {
    background: none;
    height: 50px;
    width: 50px;
    color: #DD7E00;
    margin: 20px;
    }
    
.spotlight-image {
    background: none;
    width: 75%;
    height: 350px;
    margin-top: 25px;
}

.project-image {
    width: 50%;
    height: 175px;
    background: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.spotlight-image:hover, .project-image:hover {
filter: saturate(2);
}

.skill-list {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    list-style: none;
    padding-bottom: 20px;
}

.spotlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-info, .additional-info span, .Collapsible span {
    background: #DD7E00;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding: 5px;
}

.additional-info span:hover, .Collapsible span:hover {
    background: #6B7A8F;
    color: #F7882F;
    text-decoration: underline;
}

.additional-info {
    padding-bottom: 20px;
}

.Collapsible, .Collapsible div {
    background: none;
}

@media only screen and (min-width: 850px) {
    .spotlight-image {
        width: 70%;
        height: 500px;
    }
    .other-projects {
        display: flex;
    }

    .other-projects h3 {
        width: 300px;
        height: 50px;
        text-align: center;
    }
}

@media only screen and (min-width: 1100px) {
    .spotlight-image {
        width: 60%;
        height: 500px;
    }

    .project-image {
        width: 50%;
        height: 250px;
        background: none;
        margin-bottom: 10px;
    }
    
}